*{
  box-sizing: border-box;
}

img{
  width: 10rem;
}

body{
  margin: 0;
}

.site-tittle{
  margin-left: 30px; 
  font-size: 2rem;
}

.nav{
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rm 2rm;
  padding: 0 2rem;
}

.nav ul{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a {
  columns: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 1rem;
}

.wew{
  padding: 100px;
  background-color: black;
}



.container-fluid{
  text-align: center;
  background-color: aqua;
  padding: 10rem;
}

.about-page{
  text-decoration: black;
  background-color: blueviolet;
  max-width: 100%;
  padding-bottom: 10rem;
  text-align: center;
  padding-top: 10px;
}

.Tittle{
 text-align: center;
margin-top: 30px;
}

.Isi{
 text-align: center;
}

.contact-page{
  text-align: center;
  margin-top: 10rem;
}

.kontak{
  background-color: red;
}

.kontak1{
  background-color: green;
}

.kontak2{
  background-color: cyan;
}